#btnSignUp {
    all: unset;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #384959;
    border-radius: 32px;
    padding: 0.1rem 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    cursor: pointer;
}
#mainSignUp {
    background-color: #bdddfc;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#titleSignUp{
    font-size: 2rem;
    font-weight: bold;
}