.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
  height: 100vh;
  background-color: #bdddfc;
  color: #ffffff;
}

.eventHome{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleHome {
  color:#384959;
  font-size: 2.5rem;
  margin-bottom: none;
}

.btnHome {
  all:unset;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border:none ;
    background-color:#384959 ;
    border-radius: 32px;
    padding: 0.1rem 2rem 0.1rem 2rem;
    color:#ffffff;
    cursor: pointer;
    height: 4vh;
}
.btnHome:hover{
  background-color: #384959; 
  transform: scale(1.05);
}
.addAttendanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem; 
  width: 100%; 
  max-width: 400px; 
}

.addAttendanceContainer > input{
  padding: 10px;
  margin-bottom: 10px;
}